.legalNavWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-right: 0;
}

.legalMenuList {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding-left: 0;
}

.legalMenuItem {
  list-style: none;
  display: flex;
}

.legalMenuItem a {
  text-decoration: none;
  color: white;
}

@media (min-width: 340px) and (max-width: 1024px) {
  .legalNavWrapper {
    width: 100%;
  }

  .legalMenuList {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
}