.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 30px;
}

@media (min-width: 340px) and (max-width: 1024px) {
  .navbar {
    padding: 0 10px;
    justify-content: space-around;
  }
}