.footer {
  background-color: #525152;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.footerTop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.footerSectionOne, .footerSectionTwo, .footerSectionThree {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
}

.footerSectionTwo, .footerSectionThree {
  place-self: center;
  align-self: start;
}

.footerCompanyTitle h2{
  font-size: 1.8rem;
}

.footerHeaderTitle {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.footerNavMenu, .footerAboutSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding-left: 0;
  font-weight: 400;
  letter-spacing: 2px;
}

.footerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 340px) and (max-width: 1024px) {
  .footer {
    flex-direction: column;
  }

  .footerWrapper {
    align-items: center;
  }

  .footerTop {
    display: flex;
    flex-direction: column;
  }

  .footerCompanyTitle {
    order: 1;
  }

  .footerCompanyTitle h2{
    font-size: 2.5rem;
  }

  .aboutShort {
    order: 2;
  }

  .footerBottom {
    flex-direction: column;
    width: 100%;
  }

  .footerTrademark {
    order: 1;
    padding-bottom: 15px;
  }

  .footerHeaderTitle {
    margin: 0;
  }

}