.newsCategory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}

@media (min-width: 340px) and (max-width: 1024px) {
  .newsCategory {
    display: flex;
    flex-direction: column;
  }
}